*{
    margin: 0;
    padding: 0;
}

@keyframes animacao{
    from {
        border-bottom: none;
    }
    
    to {
        border-bottom: 2px solid;
    }
}


body{
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    border-bottom: 1px solid black;
}

nav p a{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-decoration: none;
    border-bottom: none;
    
}

/*important*/
nav p a:hover{
    cursor: pointer;
    animation-name: animacao;
    animation-duration: 1s;
}

.container-carrosel{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.carrossel{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
    height: 100%;
    
}

.efect-slide{
    width: 100vw;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.efect-slide img{
    object-fit: cover;
    height: 80vh;
    width: 600px;
}
.cont-vermais{
    height: 400px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.cont-vermais p{
    color: white;
    font-size: 45px;
}

.cont-vermais button{
    width: 320px;
    height: 85px;
    border-radius: 10px;
    background-color: black;margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
}

.cont-vermais button:hover{
    background-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
}

.cont-vermais button a{
    text-decoration: none;
    color: white;
    font-size: 45px;
}


.butslid{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    font-size: 60px;
    opacity: 0.7;
}

.butslid:hover{
    opacity: 10;
}

.but-left{
    left: 3vw;
}

.but-right{
    right: 3vw;
}

footer{
    color: white;
    text-align: center;
    font-size: 25px;
}


